.example-enter {
  opacity: 0.1;
  position: relative;
  top: 1000px;
}

.example-enter.example-enter-active {
  opacity: 1;
  top: 0px;
  transition: opacity, top 250ms ease-in;
}

.example-leave {
  opacity: 1;
  left: 0px;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  left: -1000px;
  transition: opacity, left 250ms ease-in;
}